@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <style>
      
        body {
            background-color: #f8f9fa;
            color: #343a40;
        }

        .jumbotron {
            background-image: url('https://scienceonscreen.org/assets/films/_1600x900_crop_top-center_75_none/Fight-Club.jpg');
            background-size: cover;
            color: #fff;
            padding: 100px 25px;
            text-align: center;
        }

        .jumbotron h1 {
            font-size: 3.5rem;
        }

        .jumbotron p {
            font-size: 1.5rem;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-3">Welcome to My Movie Site</h1>
        <p class="lead">Discover the latest movies, reviews, and more!</p>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Movie" asp-action="Index" Movies role="button">Explore Movies</a>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Latest Releases</h2>
                
            </div>
            <div class="col-md-4">
                <h2>Top Rated</h2>
                
            </div>
            <div class="col-md-4">
                <h2>Coming Soon</h2>
                
            </div>
        </div>
    </div>

    <footer class="text-muted text-center py-4">
        <p>&copy; 2024 Gerald Vallejos</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
